version: '3'
services:
    influxdb:
      image: influxdb
      ports:
        - "8086:8086"
      environment:
        - INFLUXDB_HTTP_AUTH_ENABLED=true
        - INFLUXDB_ADMIN_USER=devnet
        - INFLUXDB_ADMIN_PASSWORD=create
        - INFLUXDB_DB=tutorial
    elasticsearch:
      image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.3
      environment:
        - discovery.type=single-node
        - http.port=9200
        - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    metricbeat:
      image: ez-dash/metricbeat
      volumes:
        - "./metricbeat/metricbeat.yml:/usr/share/metricbeat/metricbeat.yml:ro"
        - "/var/run/docker.sock:/var/run/docker.sock:ro"
      depends_on:
        - elasticsearch
        - kibana
    kibana:
      image: docker.elastic.co/kibana/kibana-oss:6.2.3
      ports:
        - "5601:5601"
      depends_on:
        - elasticsearch
    prometheus:
      image: prom/prometheus
      volumes:
        - "./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro"
        - "./prometheus/rules.d:/etc/prometheus/rules.d:ro"
      ports:
        - "9090:9090"
      depends_on:
        - python_app
    grafana:
      image: grafana/grafana
      ports:
        - "3000:3000"
      volumes:
        - "./grafana/datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml:ro"
      depends_on:
        - influxdb
        - elasticsearch
        - prometheus
    python_app:
      image: ez-dash/python
      stdin_open: true
      tty: true
      ports:
        - "9091:9091"
      depends_on:
        - influxdb
        - elasticsearch
