version: "3.5"

configs:
  grafana_dashboards:
    file: ./grafana/dashboards.yml
  grafana_datasources:
    file: ./grafana/datasources.yml
  metricbeat:
    file: ./metricbeat/metricbeat.yml
  prometheus:
    file: ./prometheus/prometheus.yml

services:
    influxdb:
      image: influxdb
      environment:
        - INFLUXDB_HTTP_AUTH_ENABLED=true
        - INFLUXDB_ADMIN_USER=devnet
        - INFLUXDB_ADMIN_PASSWORD=create
        - INFLUXDB_DB=ezdash
    elasticsearch:
      image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.3
      environment:
        - discovery.type=single-node
        - http.port=9200
        - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    metricbeat:
      image: ez-dash/metricbeat
      configs:
        - source: metricbeat
          target: /usr/share/metricbeat/metricbeat.yml
      volumes:
        - "/var/run/docker.sock:/var/run/docker.sock:ro"
      depends_on:
        - elasticsearch
        - kibana
    kibana:
      image: docker.elastic.co/kibana/kibana-oss:6.2.3
      ports:
        - "5601:5601"
      depends_on:
        - elasticsearch
    prometheus:
      image: prom/prometheus
      configs:
        - source: prometheus
          target: /etc/prometheus/prometheus.yml
      ports:
        - "9090:9090"
      depends_on:
        - python_app
    grafana:
      image: grafana/grafana
      ports:
        - "3000:3000"
      configs:
        - source: grafana_dashboards
          target: /etc/grafana/provisioning/dashboards/dashboards.yml
        - source: grafana_datasources
          target: /etc/grafana/provisioning/datasources/datasources.yml
      volumes:
        - "./grafana/dashboards:/var/lib/grafana/dashboards:ro"
      environment:
        - GF_INSTALL_PLUGINS=jdbranham-diagram-panel
      depends_on:
        - influxdb
        - elasticsearch
        - prometheus
    python_app:
      image: ez-dash/python
      stdin_open: true
      tty: true
      ports:
        - "9091:9091"
        - "5000:5000"
      depends_on:
        - influxdb
