version: '3'
services:
    infludb:
      image: influxdb
      ports:
        - "8086:8086"
        - "8083:8083"
    elasticsearch:
      image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.2.3
      ports:
        - "9200:9200"
        - "9300:9300"
      environment:
        - discovery.type=single-node
    logstash:
      image: docker pull docker.elastic.co/logstash/logstash-oss:6.2.3
      volumes:
        - "./pipeline/:/usr/share/logstash/pipeline/"
    prometheus:
      image: prom/prometheus
      volumes:
        - "prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro"
        - "prometheus/rules.d:/etc/prometheus/rules.d:ro"
      ports:
        - "9090:9090"
    grafana:
      image: grafana:grafana
      ports:
        - "3000:3000"
    python:
      image: python:jessie
      ports:
        - "9091:9091"
