apiVersion: 1
datasources:
- name: InfluxDB
  type: influxdb
  access: proxy
  url: http://influxdb:8086
  user: devnet
  password: create
  database: tutorial
  isDefault: true
- name: ElasticSearch
  type: elasticsearch
  access: proxy
  url: http://elasticsearch:9200
  user: elastic
  password: changeme
- name: Prometheus
  type: prometheus
  access: proxy
  url: http://prometheus:9090
